{%extends "registration/base.html"%}

{% load bootstrap3 %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <h3 class="card bg-transparent p-2 text-center">
        BE UPDATED ON THE HAPPENINGS OF YOUR SURROUNDING
      </h3>
    </div>
  </div>
  <div class="row" style="margin-top: 10%;">
    <!-- Empty div -->
    <div class="col-lg-2"></div>

    <div class="col-lg-8  " style="padding: 2%;">
      {% if form.errors %}
      <p>Password or Username entered is Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center font-weight-bold">Sign In</h3>
        </div>
        <div class="panel-body">

          <form action="/accounts/login/" method="post" style="font-size:20px;font-weight: 400;">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-lg btn-outline-info font-weight-bold" value="LOGIN">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>
      <strong>Not a member yet? <a class="text-info" href="/accounts/register">Register Now</a></strong>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

{% endblock %}