{%extends "registration/base.html"%} 
{% load bootstrap3 %}

{% block content %}
<div class="container" >
  <div class="row">
    <!-- Empty div -->
    <div class="col-lg-3"></div>

    <div class="col-lg-6 pt-2 mt-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        
      {% if form.errors %}
        <p> Incorrect Information </p>
      {% endif %}
      <div class="panel panel-default" style="margin-top:2%;background: rgba(107, 104, 104, 0.417);padding: 2%;">

        <div class="panel-heading">
          <h3 class="text-center font-weight-bold">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}

            {% bootstrap_form form %}

            <div class="form-group">
              <input type="submit" class="btn btn-lg align-middle btn-outline-info font-weight-bold" value="CREATE ACCOUNT">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

        <strong>Are you a member? <a class="text-info" href="/accounts/login">Login Now</a></small>
      </div>


    </div>

  </div>
</div>

{% endblock %}