{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-white poster">
            <h3 class="text-center tt">Add a post to your hood</h3>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-sm btn-info">Add</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}